.container-AdminPages {
  padding: 50px;
}

.title-AdminPages {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 500;
}

.icon-AdminPages {
  font-weight: 800;
  font-size: 20px;
}

.containerheader-AdminPages {
  display: flex;
  justify-content: space-between;
}

.botones-AdminPages {
  display: flex;
  grid-gap: 8px;
}

.table-AdminPages {
  margin: 40px 0;
  max-height: calc(100vh - 338px);
  overflow-y: auto;
}

.acciones-AdminPages {
  display: flex;
  grid-gap: 10px;
}

.containertablaDashboard-AdminPages{
  display: grid;
  height: calc(100vh - 230px);
  grid-template-rows: 1fr 1.8fr;
  grid-gap: 2em;
}

.containerTable-Adminpages{
  overflow-y: auto;
}

.containerCards-AdminPages{
  display: grid;
  grid-gap:3em;
  grid-template-columns: repeat(3, 1fr);
}

.cardsCount-AdminPages{
  background-color: var(--BaseYellow);
  height: 100%;
  color: var(--BaseTone);
  text-transform: uppercase;
  border-radius: 12px 12px;
  padding: 2em;
}

.cardsCount-AdminPages p {
  font-size: 2.1em;
  margin: 0;
}

.titlePeriodo-AdminPages{
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: 700;
}

.result-AdminPages{
  font-size: 1.8em;
}

.tablePrint-Adminpages {
  margin: 40px;
}

tr {
  height: 10px;
}

tr td {
  height: auto !important;
}
