.container-GradesCard {
  display: flex;
  flex-direction: column;
  height: 200px;
  
  background-color: var(--BaseYellow);
}

.imagen-GradesCard {
  position: absolute;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all 300ms;
}

.container-GradesCard:hover .container_img-GradesCard > .imagen-GradesCard {
  transform: scale(1.03);
  transition: all 300ms;
}

.container-GradesCard p {
  color: var(--BaseTone);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0px 10px 10px;
}

.container_img-GradesCard{
  height: 160px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 1500px) {
  .container-GradesCard {
    height: 300px;
  }
  .imagen-GradesCard {
    height: 230px;
  }

  .container-GradesCard p {
    font-size: 40px;
  }
}
