.container-Login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  background-color: var(--BaseTone);
}

.imagen-Login {
  background-image: url("../img/imagen_news-Home.jpg");
  background-position: center center;
  background-size: cover;
  transition: 300ms;
  position: relative;
}

.texto-Login {
  align-items: center;
  padding: 60px 40px;
}

.texto-Login > p {
  font-size: 60px;
  font-weight: 600;
  color: var(--DarkerGray);
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.texto-Login div ul p {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0px;
}

div ul li input {
  border: none;
  border-bottom: 0.2px solid black;
  padding: 5px;
  height: 20px;
  font-size: 15px;
  outline: none;
  width: 100%;
}

div ul li {
  margin: 30px 0;
}

button {
  padding: 8px 10px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--BaseYellow);
  border: none;
  color: var(--BaseTone);
  font-weight: 600;
}

.links-Login {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-Login .link-Login {
  color: var(--DarkerYellow);
  font-weight: 400;
}

@media only screen and (min-width: 1500px) {
  main {
    padding: 50px 280px;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
  main {
    padding: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .container-Login {
    grid-template-columns: repeat(1, 1fr);
  }

  .links-Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .link-Login{
    padding-top:15px;
  }
}
