header {
  width: 100%;
  background-color: var(--BaseGray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
}

.seccion2-Navbar {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 75px;
}

.seccion2-Navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.seccion2-Navbar ul li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--BaseTone);
  font-size: 15px;
}

.seccion2-Navbar ul li a:hover {
  color: var(--LighterGray);
  transition: all 100ms;
}

.logo-Navbar {
  width: 60px;
}

ul.navbarlist.false{
  margin-bottom: 0px;
}

.usericon-Navbar {
  color: var(--BaseTone);
  font-size: 25px;
  margin-left: 10px;
  display: block;
}

.menuicon-Navbar {
  color: var(--BaseTone);
  font-size: 25px;
  cursor: pointer;
}

.userDetails-Navbar {
  display: flex;
  align-items: center;
}

.Link-Navbar{
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Link-Navbar div {
  color: var(--BaseTone);
  font-size: 13px;
  text-transform: uppercase;

}

.logotitle-Navbar{
  display: none;
}

#icon{
  display: none;
}

@media only screen and (min-width: 1500px){
  header {
    padding: 0 280px;
  }
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 0 75px;
  }
}
@media only screen and (max-width: 1000px) {
  
  header {
    padding: 0 30px;
  }
  
  #icon {
    display: block;
    margin-left: 10px;
  }

  .Link-Navbar div {
    display: none;
  }

  .seccion2-Navbar ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--BaseGray);
    top: 75px;
    right:0;
    transform: translateX(100%);
    transition: all .5s;
    text-align: center;
    z-index: 100000000;
    
  }

  .navbarlist.open{
    transform: translateX(0);  
    position: absolute;  
    z-index: 100000000;
  }

  .seccion2-Navbar li{
    display: block;
    line-height: 30px;
  }

  .logotitle-Navbar{
    display: block;
    color: var(--BaseTone);
    margin: 0px 10px;
  }
}
