.logo {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.fullbody {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--DarkerGray);
  padding: 6px 14px;
  transition: all 0.3s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo-content .logo {
  color: #fff;
  display: flex;
  height: 47px;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar.active .logo-content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo-content .logo {
  margin-right: 8px;
}

.sidebar .logo-content .logo-text {
  font-size: 20px;
  font-weight: 400;
}

.sidebar .iconBar {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
}

.sidebar.active .iconBar {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: auto;
  text-align: center;
  background: var(--BaseTone);
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.3s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li .a {
  color: var(--BaseTone);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li .a:hover {
  background: var(--LighterGray);
  color: var(--DarkerGray);
}

.sidebar ul li .a .icon {
  height: 20px;
  min-width: 50px;
  border-radius: 12px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: var(--BaseTone);
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: var(--DarkerGray);
}

.profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.sidebar.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details .imageUser {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .nombre {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .trabajo {
  font-size: 12px;
}

.profile .logout {
  position: absolute;
  left: 50%;
  bottom: 18px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
}

.sidebar.active .profile .logout {
  left: 88%;
}

.home-content {
  position: relative;
  width: calc(100% - 78px);
  height: 100%;
  left: 78px;
  transition: all 0.3s ease;
}

.sidebar.active ~ .home-content {
  width: calc(100% - 240px);
  left: 240px;
}
